@model Category

<form method="post">
    <table>
        <tr>
        <td>
            <label asp-for="Name"></label>
        </td>
        <td>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class=text-danger></span>
        </td>
        </tr>
        <tr>
        <td>
            <label asp-for="DisplayOrder"></label>
        </td>
        <td>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class=text-danger></span>
        </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Create</button>
                 <a asp-controller="Category" asp-action="Index">Back to list</a>
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div asp-validation-summary="All"></div>
            </td>
        </tr>
    </table>

</form>

